@import "../App.scss";

// .cardStyle{
//     background-color: #1E88E5 !important;
//     color: white;
// }

.title {
    font-size: 36px;
    color: #2E86AB; /* Dark turquoise - matching the color of card1 */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
}


.card1 {
    background-color: #2E86AB !important; /* Dark turquoise */
}

.card1:hover {
    background-color: #268EA6 ; /* Slightly darker turquoise on hover */
}

/* Card 2 */
.card2 {
    background-color: #E84545  !important; /* Red */
}

.card2:hover {
    background-color: #CC3C3C; /* Slightly darker red on hover */
}

/* Card 3 */
.card3 {
    background-color: #41B3A3  !important; /* Sea green */
}

.card3:hover {
    background-color: #38A895; /* Slightly darker sea green on hover */
}

/* Card 4 */
.card4 {
    background-color: #FFB366  !important; /* Orange */
}

.card4:hover {
    background-color: #E5A856; /* Slightly darker orange on hover */
}

/* Card 5 */
.card5 {
    background-color: #9B59B6  !important; /* Purple */
}

.card5:hover {
    background-color: #8E4FAB; /* Slightly darker purple on hover */
}

/* Card 6 */
.card6 {
    background-color: #F5D76E  !important; /* Yellow */
}

.card6:hover {
    background-color: #E0C063; /* Slightly darker yellow on hover */
}
/* Animation for Card Hover */
@keyframes cardHoverAnimation {
    0% {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    }
}

.cardStyle {
    position: relative;
    width: 345px;
    height: 194px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2E3A59; /* Dark blue background */
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth animation */
}

.cardStyle:hover {
    background-color: #1A253F; /* Darker blue background on hover */
    transform: scale(1.03); /* Slightly scale on hover */
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.3); /* Change box shadow on hover */
    animation: cardHoverAnimation 1s ease 2; /* Play animation 2 times */
}

.center-text {
    font-size: 2.5em;
    color: #ffffff; /* White text color */
    margin-left: 100px;
}

.subtitle {
    color: #ffffff; /* White text color */
    font-size: 1.2em;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
